page-table {
  .boxproduk{
    width: 100px;
    margin:10px;
    padding: 10px 0;
    float: left;
    background: #2ec95c;
    height: 60px;
    color: #fff;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  .boxprodukred{
    width: 100px;
    margin:10px;
    padding: 10px 0;
    float: left;
    background: #e45735;
    height: 60px;
    color: #fff;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  .spinner-md-bubbles circle{
    fill: #fff;
  }

  .toLoading{
    margin-right: 15px;
  }
}
