page-cek-transaksi {
  background: rgba(244, 244, 244, 0.49);
  .box{
    max-width: 50%;
    margin: auto;
  }

  .head{
    background: #f4f4f4;
    .col{
      padding: 10px 0;
    }
  }

  .col {
    border-bottom: solid 1px #dedede;
    align-content :center;
  }
}
